/*Fonts*/

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSans.woff2") format ("woff2"),
	url("../fonts/"PTSans.woff) format ("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSans-Bold.woff2") format ("woff2"),
	url("../fonts/PTSans-Bold.woff") format ("woff");
	font-weight: 700;
	font-style: normal;
}


/* Variables */

:root {
  --basic-black: #000000;
  --basic-lightblack:#333333;
  --basic-lightgrey: #666666;
  --basic-brown: #766357;
  --basic-lightblue: #81B3D2;
  --basic-white: #ffffff;

  --special: 
}

.page-body {
font-size: 14px;
font-weight: normal;
line-height: 21px;
text-transform: uppercase;
color: var(--basic-lightblack)

}

img {
	max-width: 100%;
	height: auto;
}

/*Main navigation*/

.main-nav {
font-size: 14px;
line-height: 26px;
color: var(--basic-black);
background-color: var(--basic-white);
}

.site-navigation {
	list-style: none;
	font-size: 14px;
	line-height: 26px;
}

.site-navigation a {
color: var(--basic-black);
}

.different-ad{
	color: var(--basic-black);
	background-color: var(--basic-lightblue);
}
.different-ad-item h2 {
	font-size: 21px;
	line-height: 21px;
}

.different-ad-item p {
	font-size: 14px;
	line-height: 21px;
}

.container-advantages {
	background-color: var(--basic-lightgrey);
}