/*Fonts*/

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSans.woff2") format ("woff2"),
	url("../fonts/"PT Sans.woff) format ("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSans-Bold.woff2") format ("woff2"),
	url("../fonts/PTSans-Bold.woff") format ("woff");
	font-weight: 700;
	font-style: normal;
}


/* Variables */

:root {
  --basic-black: #000000;
  --basic-lightblack:#333333;
  --basic-lightgrey: #666666;
  --basic-brown: #766357;
  --basic-lightblue: #81B3D2;
  --basic-white: #ffffff;
  --basic-lightgrey-bg: #EEEEEE;
}

.page {
	height: 100%;
}


.page-body {
	width: 1200px;
	font-family: PT Sans;
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
	text-transform: uppercase;
	color: var(--basic-lightblack)
}

img {
	max-width: 100%;
	height: auto;
}

/*Main navigation*/

.main-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	text-transform: uppercase;
}

.main-header-logo {
	justify-self: center;
	width: 138px;
	height: 70px;
}

.main-navigation-wrapper {
	width: 100%;
	color: var("--basic-white");
}

.site-navigation {
	display: flex;
	justify-content: space-around;
	list-style: none;
	font-size: 14px;
	line-height: 26px;
}

.site-navigation a {
	color: var(--basic-black);
	text-decoration: none;
}

.title-img {
	background-image: url("../img/background\ photo.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 509px;
	text-align: center;
}

.title-text {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*display: grid;
	grid-column: 1 / -1;*/
}

.title-text h2 {
	font-size: 21px;
	line-height: 26px;
	justify-self: center;
}

.title-text p {
	font-size: 14px;
	line-height: 26px;
	justify-self: center;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}

 /* Features */
 
.features-main{
	color: var(--basic-white);
	background-color: var(--basic-lightblue);
	display: flex;
	/*display: grid;
	grid-template-columns: 400px 1fr;*/
	height: 256px;
}

.features-mirror .main {
	color: var(--basic-white);
	background-color: var(--basic-lightblue);
	display: flex;
	/*display: grid;
	grid-template-columns: 800px 1fr;*/
	height: 256px;
}

.main-item h2 {
	font-size: 21px;
	line-height: 21px;
}

.main-item p {
	font-size: 14px;
	line-height: 21px;
}

.features-list {
	list-style: none;
}

.features-item h3 {
	font-size: 21px;
	line-height: 21px;
}
.features-item p {
	font-size: 14px;
	line-height: 21px;
}

.features .features-list {
	display: flex;
	justify-content: space-around;
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
}

.container-features .features {
	display: flex;
	justify-content: space-around;
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
	background-color: var(--basic-lightgrey-bg);
	list-style: none;
}

/*Booking*/

.booking h2 {
	font-size: 30px;
	line-height: 24px;
}

.booking p {
	font-size: 30px;
	line-height: 24px;
}

 /* Footer*/

.main-footer {
	display: flex;
	justify-content: space-around;
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
}

.footer-contacts a{
	text-decoration: none;
	color: var(--basic-black);
}

.footer-social li {
	list-style: none;
}




/* Catalog */

.hotels-main {
	display: grid;
	grid-template-columns: 1fr;
}

.filter-bar {
	background-image: url("../img/background_catalog.jpg");
	background-repeat: no-repeat ;
	background-size: 100%;
}

.hotels-main .filter {
	display: grid;
}

.sorting li {
	list-style: none;
}

.sorting a {
	text-decoration: none;
}

.hotels-main .container-search-results {
	display: grid;
}


